* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html,
body {
  overflow-x: hidden;
}

.center {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.w50 {
  width: 50%;
}

.w30 {
  width: 30%;
}

.w25 {
  width: 25%;
}

.w70 {
  width: 70%;
}

.w33 {
  width: 33.3%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.erro-box {
  background-color: #cf343b;
  color: white;
  font-size: 18px;
  padding: 8px 3px;
  margin: 5px;
  border-radius: 5px;
}

.box-alert {
  width: 100%;
  padding: 8px 0;
  text-align: center;
}

.box-alert a {
  font-weight: bold;
}

.sucesso {
  background: #a5d6a7;
  color: white;
}

.erro {
  background: #F75353;
  color: white;
}

.atencao {
  background-color: #d68213;
  color: white;
}

/***** LOGIN/CADASTRO  ****/
section .box-login {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  max-width: 700px;
  width: 100%;
  background-color: #F7ACB0;
  padding: 30px 10px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

section .box-login .form-group {
  margin: 10px 0;
}

section .box-login input[type="text"],
input[type="email"],
input[type="password"] {
  width: 80%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}
section .box-login label {
  color: white;
}
section .box-login select{
  width: 80%;
  border: 0;
  border-radius: 10px;
  padding: 8px ;
  text-align: center;
  font-size: 17px;
}
section .box-login select>  option{
  font-size: 17px;
}

section .box-login input[type="submit"] {
  width: 120px;
  padding: 5px 3px;
  border: 0;
  font-size: 18px;
  border-radius: 10px;
  background-color: #863E3F;
  color: white;
  cursor: pointer;
}

section .box-login h3 {
  font-size: 22px;
  color: white;
  font-weight: lighter;
}

/*TESTE COM SIDEBAR*/
body {
  background: #e8edf5;
  width: 100%;
  height: 100%;
}

.wrapper .top_navbar {
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
}

.wrapper .top_navbar .logo {
  width: 250px;
  height: 100%;
  background: #F7ACB0;
  border-bottom: 2px solid #863E3F;
}

.wrapper .top_navbar .logo img {
  width: 100px;
  height: 50px;
}

.wrapper .top_navbar .logo a {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 250px);
  height: 100%;
  background: #fff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_menu>.home_link a.hamburger i {
  color: #333;
  font-size: 20px;
}

.wrapper .top_navbar .top_menu .home_link a.Home {
  display: inline-block;
  background: #F7ACB0;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  margin-left: 30px;
}

.wrapper .top_navbar .top_menu .home_link a.Home:hover,
.wrapper .top_navbar .top_menu .right_info :hover {
  background-color: #863E3F;
}

.wrapper .top_navbar .top_menu .right_info .desliga:hover {
  color: #f05656;
}

.wrapper .top_navbar .right_info {
  display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap {
  padding: 8px 15px;
  border-radius: 3px;
  background: #F7ACB0;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
}


.main_body .sidebar_menu {
  position: fixed;
  top: 65px;
  left: 0;
  background: #F7ACB0;
  width: 250px;
  height: 100%;
  transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu {
  position: relative;
  padding-top: 60px;
}

.main_body .sidebar_menu ul li h4 {
  padding: 8px 12px;
  font-size: 20px;
  background-color: #863E3F;
  color: white;
  font-weight: bold;
  margin-top: 1px;
}

.main_body .sidebar_menu ul li a {
  color: white;
  font-size: 15px;
  padding: 8px 25px;
  display: block;
  white-space: nowrap;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  
}


.main_body .sidebar_menu ul li a span {
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover {
  background: rgba(134, 62, 63, 0.5);
  color: #fff;
}

.main_body .sidebar_menu ul li a.active {
  background: #af5052;
  color: #fff;
}

.main_body .sidebar_menu .hamburger {
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #e8edf5;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_body .sidebar_menu .inner_hamburger {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: #863E3F;
}

.main_body .sidebar_menu .hamburger .arrow {
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger .fa-long-arrow-alt-right {
  display: none;
}

.main_body .container {
  width: calc(100% - 250px);
  margin-top: 65px;
  margin-left: 250px;
  padding: 25px 40px;
  transition: all 0.3s linear;
}



/* after adding active class */
.wrapper.active .sidebar_menu {
  width: 0;
}

.wrapper.active .sidebar_menu ul li a,
.wrapper.active .sidebar_menu ul li h4 {
  display: none;
  transition: 3s;
}

.wrapper.active .main_body .container {
  width: calc(100% - 100px);
  margin-left: 100px;
}




/****** PAGINAS DO PERFIL *******/
section.box-content {
  width: 100%;
  background-color: white;
  padding: 30px;
  margin-bottom: 25px;
}

/****** PAGINA NEGADA *******/
section.box-content .box-negado{
  text-align: center;
  width: 100%;
  display: block;
}
.box-negado h1{
  color: #cf343b;
  font-size: 32px;
}
.box-negado h3{
  margin-top: 10px;
  font-size: 22px;
}
.box-negado a{
  color: #F7ACB0;
}

/****** PAGINA HOME-PERFIL ******/
section.box-content h2 {
  font-weight: 300;
  font-size: 23px;
}

.box-content .box-metricas {
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
}

.box-content .box-metrica-single {
  width: 25%;
  color: white;
  padding: 5px 8px;
  float: left;
  background-color: #863E3F;
  border: 3px solid white;
  flex-wrap: wrap;
}

.box-metrica-single h3 {
  margin-top: 10px;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
}

.box-metrica-single h4 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0 0 0;
  font-weight: 300;
}

section.box-content .table-responsive {
  margin: 20px 0;
  font-weight: 300;
}

.table-responsive .row {
  color: #777;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.table-responsive .row:nth-of-type(1) {
  font-weight: normal;
  background: #863E3F;
  padding: 10px;
  color: white;
}

.table-responsive .row .col {
  float: left;
  width: 50%;
}

/***PAGINA CADASTRO CATEGORIA***/
section.box-content form {
  margin: 10px 0;
}

.box-content form .form-group {
  margin: 15px 0;
  width: 100%;
}

.box-content form .form-group label {
  font-size: 18px;
  font-weight: 300;
  display: block;
}

.box-content form .form-group input[type=text],.box-content form .form-group input[type=number] {
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 8px;
}
.box-content form .form-group textarea{
  margin-top: 8px;
  font-size: 16px;
  font-weight: normal;
  color: black;
  width: 90%;
  height: 150px;
  border: 1px solid #ccc;
  padding-left: 8px;
}

.box-content form .form-group input[type=submit] {
  padding: 8px;
  font-size: 16px;
  color: white;
  background-color: #863E3F;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

/*GESTAO DE CATEGORIAS*/
section.box-content .wraper-table{
  overflow-x: auto;
}
section.box-content table tr:nth-of-type(1) {
  background: #863E3F;
  color: white;
}
section.box-content table{
	font-weight: 300;
	min-width: 900px;
	margin:20px 0;
	width: 100%;
	border-collapse: collapse;
}
table tr{
	border-bottom: 1px solid #ccc;
}

table tr{
	color: #555;
}

table td{
	padding: 8px;
}
table td > img{
  width: 100px;
  height: 70px;
  border-radius: 10px;
}
table a.btn{
	font-weight: normal;
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
}

a.btn.edit{background: #F4B03E;}
a.btn.delete{background: #E05C4E;}
a.btn.order{background: #0091ea;}

/****** CADASTRO DO CLIENTE *******/
